header{
    height : 70px;
    width : auto ;
    background-color : #99424f;
    color : white;
}

.title-logo{
    font-size : 50px;
    float : left;
    
}

.navbar-list{
    display : flex;
    flex-flow : row nowrap;
    float : right;

    font-size : 30px;

    list-style-type : none;

    align-items: center;
    margin : 0px;
    height : 100%;
}
.navbar-list-item{
    margin-right : 20px;
}

.link-tab{
    color : white;
}

.link-tab:hover{
    color : gray;
}